<%- include header %>
<section id="content">
<div class="locate">
<form method="post">
  标题：<br />
  <input class="input" type="text" name="title" /><br />
  标签：<br />
  <input class="input" type="text" name="tag1" /><input class="input" type="text" name="tag2" /><input class="input" type="text" name="tag3" /><br />
  正文：<br />
  <textarea class="text" name="post" rows="20" cols="100"></textarea><br />
  <input class="btn" type="submit" value="发表" />
</form>
</div>
</section>
<%- include footer %>

