<%- include header %>
<section id="content">
<div class="locate">
<form method='post' action='/upload' enctype='multipart/form-data' >
  <input type="file" name='file'/>
  <input class="btn" type="submit" />
</form>
</div>
</section>
<%- include footer %>
