html, body, dl, ul, li, dd, h1, h2, h3, h4, h5, h6, p, form, button {
  margin: 0;
  padding: 0;
}
a,a:hover {
  color: #657180;
  text-decoration: none;
}
li,a,h1 {
  display: inline-block;
}
body {
  background-color: #cce7f8;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
/*header*/
#navigation ul {
  padding-left: 20%;
  background-color: #fff;
  position: relative;
}
#navigation img {
  position: absolute;
  left: 3em;
  width: 7em;
  height: 5em;
}
#navigation a {
  height: 5em;
  width: 6em;
  text-align: center;
  line-height: 5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#navigation a:hover {
  color: #5cadff;
  border-bottom: 2px solid #5cadff;
}
#navigation .primary {
  color: #3399ff;
  border-bottom: 2px solid #3399ff;
}
#navigation form {
  position: absolute;
  top: 1.5em;
  right: 15%;
}
#navigation #search {
  width: 13em;
  height: 2.5em;
  line-height: 2em;
  padding: 4px 7px;
  border: 1px solid #d7dde4;
  border-radius: 3px;
  color: #657180;
  background-color: #fff;
}
#navigation #searchbtn {
  margin-top: -1px;
  padding: 0px 6px;
  font-size: 1.7em;
}
::-webkit-input-placeholder {/*webkit内核*/
  color: #D7DDE4;
}
:-moz-placsholder {/*firefox 18-*/
  color: #D7DDE4;
}
::-moz-placsholder {/*firefox 19+*/
  color: #D7DDE4;
}
:-ms-input-placeholder {
  color: #D7DDE4;
}
/*index、user*/
#content {
  overflow: hidden;
}
.article {
  width: 60%;
  background-color: #fff;
  color: #657180;
  border-radius: 3px;
  margin-top: 30px;
  margin-left: 10%;
  padding: 20px;
/*  box-shadow: 0 0 10px #9ea7b4;*/
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.article .article-title a{
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #464C5B;
}
.article a:hover {
  color: #3399ff;
} 
.article .article-info {
  color: #9ea7b4;
  position: absolute;
  top: 10px;
  right: 10px;
}
.article span.tag {
  display: inline-block;
  transform: skewX(-15deg);
  height: 1em;
  line-height: 1em;
  padding: 5px 8px;
  background-color: #9ea7b4;
  color: #fff;
}
.article span.tag span {
  display: inline-block;
  transform: skewX(15deg);
}
.article .article-content {
  margin-top: 20px;
}
/*archive*/
#archive {
  width: 20%;
  float: right;
  margin: 30px 5% 0 0;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #fff;
}
#archive h4 {
  border-bottom: 2px solid #d7dde4;
  margin-bottom: 5px;
}
#archive h4 span {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 3px solid #3399ff;
  color: #464c5b;
  position: relative;
  top: 2px;
}
#archive li {
  height: 1.5em;
  line-height: 1.5em;
}
#archive i {
  font-size: 20px;
  color: #FFCB50;
}
#archive a {
  color: #657180;
  cursor: pointer;
}
#archive a:hover {
  color: #5cadff;
}
/*tag*/
#tag {
  width: 20%;
  float: right;
  margin: 30px 5% 0 0;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #fff;
  clear: both;
}
#tag h4 {
  border-bottom: 2px solid #d7dde4;
  margin-bottom: 5px;
}
#tag h4 span {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 3px solid #3399ff;
  color: #464c5b;
  position: relative;
  top: 2px;
}
#tag li {
  height: 1.5em;
  line-height: 1.5em;
}
#tag a {
  height: 1em;
  line-height: 1em;
  padding: 5px 8px;
  margin: 3px;
  background-color: #39f;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color .2s ease-in-out; 
}
#tag a:hover {
  background-color: #657180;
}
/*paging*/
#paging {
  width: 60%;
  background-color: #fff;
  border-radius: 3px;
  margin-top: 30px;
  margin-left: 10%;
  overflow: hidden;
}
#paging #wrapper {
  margin: 20px 20px;
}
#paging #wrapper a {
  height: 2em;
  width: 2em;
  border: 1px solid #d7dde4;
  border-radius: 3px;
  text-align: center;
  line-height: 2em;
}
#paging #wrapper a:hover {
  border-color: #5cadff;
  color: #5cadff;
}
#paging #wrapper .primary {
  border-color: #3399ff;
  color: #fff;
  background-color: #3399ff;
}
/*footer*/
#message {}
/*login*/
#login form{
  width: 20em;
  margin: 0 auto;
}
/*404*/
#404 #search {
  width: 13em;
  height: 2.5em;
  line-height: 2em;
  padding: 4px 7px;
  border: 1px solid #d7dde4;
  border-radius: 3px;
  color: #657180;
  background-color: #fff;
}
#404 #searchbtn {
  margin-top: -1px;
  padding: 0px 6px;
  font-size: 1.7em;
}
/*article-page*/ 
#article-page {
  width: 60%;
  color: #657180;
  border-radius: 3px;
  background-color: #fff;
  margin-top: 30px;
  margin-left: 10%;
  overflow: hidden;
}
#article-page .edit:hover {
  color: #5cadff;
}
#article-page a:hover {
  color: #5cadff;
}
#article-page .title {
  font-size: 2.4em;
  color: #464c5b;
}
#article-page .info {
  color: #9ea7b4;
  margin: 10px 10px 10px 0;
}
#article-page .info .tag {
  height: 1em;
  line-height: 1em;
  padding: 5px 8px;
  margin: 3px;
  background-color: #9ea7b4;
  border-radius: 5px;
  color: #fff;
}
.control-padding {
  margin: 20px;
}
/*other*/
.locate {
  width: 80%;
  background-color: #fff;
  border-radius: 3px;
  color: #657180;
  padding: 20px;
  margin: 30px auto; 
  overflow: hidden;
}
.input {
  display: inline-block;
  width: 15em;
  height: 1.5em;
  line-height: 1.5em;
  padding: 4px 7px;
  border: 1px solid #d7dde4;
  border-radius: 3px;
  color: #657180;
  background-color: #fff;
  margin: 10px 0;
  transition: border .2s ease-in-out, box-shadow .2s ease-in-out;
}
.input:hover {
  border: 1px solid #5cadff;
}
.input:active {
  box-shadow: 0 0 1px #3091f2;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  background-color: #3399ff;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}
.btn:hover {
  background-color: #5cadff;
}
.text {
  background-color: #fff;
  color: #657180;
  border: 1px solid #d7dde4;
  border-radius: 3px;
  padding: 2px;
  margin: 10px 0;
}
.text:hover {
  border: 1px solid #5cadff;
}
.text:active {
  box-shadow: 0 0 1px #3091f2;
}

/*loading*/
/*.spinner {
  display: none;
  margin: 100px auto;
  width: 150px;
  height: 150px;
  position: relative;
}
 
.container1 > div, .container2 > div, .container3 > div {
  width: 20px;
  height: 20px;
  background-color: #39f;
 
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
 
.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
 
.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
 
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
 
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
 
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
 
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
 
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
 
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
 
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
 
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}*/